<table class="w-full">
  <tr>
    <td class="p-[20px] pt-[35px]">
      <table class="w-full ">
        <tr>
          <td class="text-[12px] leading-[14px]  text-left text-[#000000] font-bold">
            Ut enim ad minim:
          </td>
        </tr>
        <tr>
          <td class="text-[12px] leading-[14px] py-[15px] text-left">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.<br><br>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur.
          </td>
        </tr>
        <tr>
          <td class="text-[12px] leading-[14px]  text-left text-[#000000] pt-[15px] font-bold">
            Sint occaecat cupidatat:
          </td>
        </tr>
        <tr>
          <td class="py-[20px] border-[0] border-b-[1px] border-solid border-color-[#002B2B]">
            <table class="">
              <tr>
                <td>
                  <table>
                    <tr>
                      <td class="w-[20px] align-top text-[12px] text-[#002B2B] leading-[14px] text-center">
                        1.
                      </td>
                      <td class="text-[12px] text-[#002B2B] leading-[14px] pl-[2px]">
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                        id est laborum.
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <table>
                    <tr>
                      <td class="w-[20px] align-top text-[12px] text-[#002B2B] leading-[14px] text-center">
                        2.
                      </td>
                      <td class="text-[12px] text-[#002B2B] leading-[14px] pl-[2px]">
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="text-[12px] leading-[14px]  text-left text-[#000000] text-center py-[21px]">
            Sed do eiusmod tempor incididunt ut labore
          </td>
        </tr>
        <tr>
          <td class="text-[12px] leading-[14px]  text-left text-[#000000] text-center">
            <x-image class="w-[100px]" alt="logo" imgUrl="image-2.png" href="#" />
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
