<table class="w-full">
  <tr>
    <td class="text-[14px] text-[#000049] leading-[16px] p-[20px]">
      <table class="w.full">
        <tr>
          <td class="w-[110px]">
            <x-image class="w-[110px]" alt="Logo" imgUrl="image-2.png" href="#" />
          </td>
          <td class="text-[12px] text-[#002B2B] leading-[13.8px] pl-[23px] pr-[90px] sm:pr-[0px] sm:pl-[16px]">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </td>
        </tr>
      </table>
    </td>
  </tr>
  

  <tr>
    <td class="px-[20px] sm:p-[0px] sm:[w-full]">
      <x-image width="560" class="w-[560px]" imgUrl="image-1.png" href="#" />
    </td>
  </tr>
  <tr>
    <td class="px-base p-[30px] pb-[0px] text-[24px] leading-[27.6px]  text-center text-[#005555] font-bold">
      Excepteur sint occaecat cupidatat
    </td>
  </tr>
  <tr>
    <td class="px-base px-[30px] py-[20px] text-[16px] leading-[18.4px]  text-center text-[#444444]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </td>
  </tr>
  <tr>
    <td class="align-center-table py-base px-[20px] pb-[46px]">
      <x-button width="350" height="46" leading="23" padding="11px 20px" rounded="10" CTA
        class="font-bold text-primary xs:w-full cursor-pointer text-[#FFFFFF] text-[20px]">Ut enim ad minim veniam
      </x-button>
    </td>
  </tr>
</table>
