<table class="w-full bg-[#F0F5F5]">
  <tr>
    <td
      class="px-base p-[35px] text-[24px] leading-[27px] sm:pt-[25px] sm:px-[20px]  text-center text-[#005555] font-bold">
      Sint cupidatat occaecat ut
    </td>
  </tr>
  <tr>
    <td class="pb-[44px]">
      <table class="w-full ">
        <tr>
          <!-- Left Column Section -->
          <td class="w-1/2 p-[20px] pr-[10px] py-0 sm:pr-[20px]  sm:w-full sm:inline-block">
            
            <table class="w-[270px] sm:w-full bg-[#ffffff]">
              <tr>
                <td class="p-[25px] pt-[26px]">
                  <table class="w-full">
                    <tr>
                      <td class="text-center">
                        <x-image class="w-[100px]" alt="Icon" imgUrl="icon-1.png" href="#" />
                      </td>
                    </tr>
                    <tr>
                      <td class="px-base p-[15px] text-[20px] leading-[23px]  text-center text-[#005555] font-bold">
                        Nisi ut ade
                      </td>
                    </tr>
                    <tr>
                      <td class="text-[16px] leading-[18px]  text-center text-[#444444]">Lorem ipsum dolor sit
                        amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                        enim ad minim veniam.<span class="text-[9px] [line-height:0] [vertical-align:6px]">1</span>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>

          </td>
          <!-- Right Column Section -->
          <td class="w-1/2 p-[20px] pl-[10px] py-0 sm:pl-[20px] sm:pt-[35px] sm:w-full sm:inline-block">
            
            <table class="w-[270px] sm:w-full bg-[#ffffff]">
              <tr>
                <td class="p-[25px] pt-[26px]">
                  <table class="w-full">
                    <tr>
                      <td class="text-center">
                        <x-image class="w-[100px]" alt="image-icon" imgUrl="icon-2.png" href="#" />
                      </td>
                    </tr>
                    <tr>
                      <td class="px-base p-[15px] text-[20px] leading-[23px]  text-center text-[#005555] font-bold">
                        Duis aute irure
                      </td>
                    </tr>
                    <tr>
                      <td class="text-[16px] leading-[18.4px]  text-center text-[#444444]">Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                        veniam.<span class="text-[9px] [line-height:0] [vertical-align:6px]">2</span>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>


          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
